@use "@/styles/mixins" as *;

.root {
  border: none;
  outline: none;

  color: inherit;
  background: none;

  cursor: pointer;

  @include supports-hover {
    opacity: 0.75;
    transition: opacity .2s ease;
    
    &:hover {
      opacity: 1;
    }
  }
}
        