$primary: (
  primary-300: hsl(252, 100%, 73%),
  primary-500: hsl(252, 94%, 67%),
);

$secondary: (
  secondary-300: hsl(0, 100%, 80%),
  secondary-500: hsl(0, 80%, 63%),
);

$neutral: (
  neutral-100: hsl(0, 100%, 100%),
  neutral-200: hsl(240, 27%, 98%),
  neutral-300: hsl(231, 73%, 93%),
  neutral-400: hsl(231, 37%, 63%),
  neutral-450: hsl(232, 23%, 61%),
  neutral-500: hsl(231, 20%, 61%),
  neutral-550: hsl(231, 20%, 27%),
  neutral-600: hsl(233, 30%, 21%),
  neutral-700: hsl(233, 31%, 17%),
  neutral-800: hsl(233, 30%, 11%),
  neutral-900: hsl(228, 29%, 7%),
);