@mixin supports-hover() {
  @media (hover: hover) {
    @content;
  }
}

@mixin button-reset {
  padding: 0;
  
  border: none;
  outline: none;

  color: inherit;
  background: none;

  cursor: pointer;
}